*{
    margin: 0px;
    padding: 0px;
}
/* hader css use */

.heading-picture{
     width: 450px;
    height: 550px;
    flex-shrink: 0;
    margin-bottom: -4px;
}
.heder-inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 155px;
}
.header-section{
    background: rgba(229, 84, 115, 0.10);

}

.heading-title{
color: #272727;
font-size: 70px;
font-weight: 800;

}
.btn{
    color: #FFF;
font-size: 13px;
font-weight: 700;
background-color: rgb(241, 100, 100);
padding:10px;
border-radius: 5px;
margin-top: 11px;
border: 0px;
}
.heading-about{
 color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
margin-top: 15px;
}

/* main contenar */
.main-contenar{
    text-align: center;
}
.main-titile{
color: #272727;
font-size: 40px;
font-weight: 800;
margin-top: 70px;

}
.main-title{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.conter-pic{
    display: flex;
    align-items: center;
    margin-top: 50px;
    background-color:rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
   gap: 40px;
    
}
.img-sec{

    width: 180px;
    height: 250px;
  

}
.picture{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);   
    width: 200px;
    height: 250px;
    text-align: center;
}

/*  */

.secound-section{
margin-top: 50px;
background: rgba(229, 84, 115, 0.05);
}


.sec-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pngwing{
    width: 218px;
    height: 280px;
    

}

.scr-title{
    margin: 20px;
}

/* section thard */
.scetion-thard{
    text-align: center;
}


.gelery{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gl-pic{
    width: 220px;
    height: 280px;
    border-radius: 10px;
   

}
.gelery{
    margin: 0px 380px;
    margin-top: 20px;
}


.last-banner{
    background: rgba(229, 84, 115, 0.10);
}
.last-contenar {
    background-image: url('Flower\ Asset/roy.png');
    margin: 50px 200px;


}
.banner-tx{
text-align: center;
    padding: 80px;
box-shadow: 5px 7px 4px;
}

.eml-section{
    width: 400px;
height: 35px;
border-radius: 8px;
background-color: aliceblue;
border: 0px;
border-radius: 7px;
}


/* footer */
footer{
    background-color:rgb(19, 18, 18);
    width: 100%;
    height: 249px;


}
.footer-section{
color: wheat;
text-align: center;
margin-top: 20px;
padding: 45px;

}
.footer-about{
    margin: 20px;
color: rgba(255, 255, 255, 0.40);
text-align: center;

font-size: 16px;
font-weight: 400;

}

.input-typ{
    text-align: center;
    padding: 5px;
      border-radius: 5px;
    border: 0px;
    font-size: 15px;

}

.inst-sec{
    background-color: #FFF;
}

/* basic ad style */

.btn:hover{
    background-color: aquamarine;
}
span{
    color: red;
}

.conter-about{
    text-decoration: underline;
    color:black;
    font-size: 15px;
    font-weight: bold;
}

/* support section start */

.Support-contenar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 60px 280px;

    .Support-section{
    padding: 30px;
    }
    .support-pic{
        width: 80px;
    height: 70px;

    }
    .support-dlt{
        text-align: center;
        color: rgba(39, 39, 39, 0.80);
        text-align: center;
        font-size: 17px;
        font-weight: 600;
    }